/* ! ---------------------------------------- */
/* !           MOBILE / SMART-PHONE           */
/* ! ---------------------------------------- */
.work {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 300px 300px 300px 300px;
  /* background-color: lightgrey; */
}

.work > * {
  background-color: lightgrey;
  box-shadow: 2px 2px 5px black;
}

.work img {
  display: block;
  margin: 0 auto;
  /* height: 150px; */
  height: 60%;
  border: 2px solid black;
}

.work h2 {
  padding-top: 10px;
  padding-bottom: 5px;
  font-family: 'Audiowide',cursive;
  color: black;
  text-shadow: 2px 2px 1px 2px darkgrey;
}
.work p {
  color: var(--clr-drk-grey);
  border-left: none;
  margin: 0;
}

.work a {
  text-decoration: none;
}

.work p::before {
  content: "Language Used: "
}

h1#work {
  margin-bottom: 10px;
}

#novid {
  grid-row: 1 /2;
  grid-column: 1/2;
}

.coding img {
  width: 100%;
}



/* ! ---------------------------------------- */
/* !                 TABLET                   */
/* ! ---------------------------------------- */
@media only screen and (min-width: 768px) {
  .work {
    display: grid;
    grid-template-columns: repeat(3, 18vw);
    /* grid-template-columns: auto minmax(0 1fr); */
    grid-template-rows: repeat(3, 18vw);
    /* background-color: lightgrey; */
    gap: 10px;
  }

  .work h2 {
    text-align: center;
    font-size: 1.25vw;
  }

  .work p {
    text-align: center;
    font-size: 1.25vw;
  }

  #novid {
    grid-row: 1/3;
    grid-column: 1/3;
  }
  #novid img {
    width: 100%;
  }
  .coding {
    display:flex;
    flex-direction: column;
  }

}

/* ! ---------------------------------------- */
/* !                DESKTOP                   */
/* ! ---------------------------------------- */
@media only screen and (min-width: 1025px) {
  .work div {
    margin-top: 0px;
  }
}